{% extends 'base.html' %}
{% load static %}
    
{% block content %}

<div class="container">
    <section id="about">
    <h1>About Us</h1>  
    <p>We believe that high-quality, meaningful digital products can help transform organizations. Since 2017, we've helped a handful of startup businesses to succeed through the use of innovative technologies. From the conception to implementation, <a href="">neupytech</a>'s team of talented strategists, designers, and developers from many disciplines and backgrounds, utilizes a case-by-case approach in ensuring that every project that we handle gets tailor-fit solutions.</p>
    <p>We see ourselves as partners and not as vendors -  we are not just trying to sell you service but beyond that, we aim to become part of your team. We'll allign with our vision and mission to help you build products that does not only reflect what you are selling but also your values.</p>
    </section>  
</div>

<div id="team" class="container">
    <h2>Meet The Team</h2>
    <div class="row">
        {% for team in teams %}
        <div class="col-md-6 my-4">
            <div class="row">
                <div class="col-md-6">
                    <img class="rounded-circle" src="{{ team.pic.url }}" alt="{{ team.name }}">
                </div>
                <div class="col-md-6">
                    <h2>{{ team.name }}</h2>
                    <p>{{ team.title }}</p>
                    <a href="{{ team.twitter }}"><i class="fab fa-twitter"></i></a>
                    <a href="{{ team.facebook }}"><i class="fab fa-facebook-f"></i></a>
                    <a href="{{ team.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                    <a href="{{ team.instagram }}"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}